.App {
  width: 400px;
  height: 250px;
  background: #773344;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 17px 9px rgba(0, 0, 0, .6);
  color: #fff;
  padding: 35px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: 'Comic Sans MS', sans-serif;
}


/*input, textarea, select {
  color: #2f192E;
  margin: 5px auto;
  display: block;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 17px 9px rgba(0, 0, 0, .6);
}

label {
    display: inline-flex;
    margin-left: 120px;
    color: #fff;
    font-size: 20px;

}*/


